NODE_ENV=development
FRONTEND_URL=https://localhost:8443

POSTGRES_USER=transcendence
POSTGRES_PASSWORD=MPD_HERE
POSTGRES_DB=transcendence_db
DATABASE_URL=postgresql://transcendence:MPD_HERE@postgres:5432/transcendence_db

REDIS_PASSWORD=MPD_HERE
REDIS_URL=redis://:MPD_HERE@redis:6379

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

API_42_CLIENT_ID=
API_42_CLIENT_SECRET=
API_42_REDIRECT_URI=https://localhost:8443/api/auth/42/callback

VITE_API_URL=https://localhost:8443/api
VITE_WS_URL=wss://localhost:8443/ws
